/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 Sikharthy Infotech
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
    * colors
    */

  --white: #ffffff;
  --red: #ff0000;
  --black: #000000;
  --black_8: hsla(0, 0%, 0%, 0.08);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --gondola-black: #333333;
  --gainsboro_50: hsl(0, 0%, 86%, 0.5);
  --nero-black: #222222;
  --comet-silver: #656875;
  --royal-blue: #4169e1;
  --space-cadet: #1b2951;
  --deep-blue-sky: #01bafd;
  --shamrock-green: #2ecc71;
  --summer-sky: #45a0de;
  --summer-sky-light: #4db8ff;
  --jet: #343434;

  /**
    * gradient colors
    */

  --gradient-1: linear-gradient(
    to right,
    var(--deep-blue-sky),
    var(--shamrock-green)
  );
  --gradient-2: linear-gradient(
    to right,
    var(--royal-blue),
    var(--deep-blue-sky),
    var(--shamrock-green)
  );

  /**
    * typography
    */

  --ff-roboto: "Roboto", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 4rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.6rem;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
    * spacing
    */

  --section-padding: 120px;

  /**
    * shadow
    */

  --shadow-1: 4px 4px 15px var(--black_10);
  --shadow-2: 0 10px 15px var(--black_10);
  --shadow-3: 0 20px 60px var(--black_8);

  /**
    * border radius
    */

  --radius-6: 6px;
  --radius-4: 4px;
  --radius-circle: 50%;

  /**
    * transition
    */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

html {
  font-family: var(--ff-roboto);
}

body {
  position: relative;
  background-color: #fff4e6;
  color: var(--comet-silver);
  font-size: 1.6rem;
  font-weight: 500;
  overflow-x: hidden;
}

/*-----------------------------------*\
    #REUSED
\*-----------------------------------*/

.section {
  /* padding-block: var(--section-padding); */
  padding-block: 60px;
}

.section-subtitle {
  color: var(--nero-black);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  margin-block-end: 10px;
}

h1,
h2,
h3 {
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h1 {
  color: var(--black);
  font-size: var(--fs-2);
}

.h2,
.h3 {
  color: var(--nero-black);
}

.h2 {
  font-size: var(--fs-1);
}

.h3 {
  font-size: var(--fs-5);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  font-size: var(--fs-7);
  color: var(--gondola-black);
  background-color: var(--white);
  transition: var(--transition-1);
  padding-block: 8px;
  padding-inline: 20px;
  min-width: 300px;
}

.dropdown-menu > li:not(:last-child) {
  border-block-end: 1px solid var(--black_8) !important;
}

.dropdown-menu > li:is(:hover, :focus, :focus-visible) .dropdown-item {
  background-color: var(--royal-blue);
  color: var(--white);
}

.card-text,
.section-text {
  line-height: 1.7;
}

.btn {
  background-image: var(--gradient-1);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-3);
  transition: var(--transition-1);
}

.btn:is(:hover, :focus, :focus-visible) {
  scale: 0.98;
  color: var(--white);
  background-image: var(--gradient-2);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--gainsboro_50);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header-top {
  display: none;
}

.header-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 10px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -112px;
  box-shadow: var(--shadow-2);
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.navbar {
  background: none !important;
}

.navbar > .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar-toggle {
  font-size: 30px;
  color: var(--white);
  background-color: var(--summer-sky);
  padding: 5px;
}

.navbar-toggle.active .menu-icon,
.navbar-toggle .close-icon {
  display: none;
}

.navbar-toggle .menu-icon,
.navbar-toggle.active .close-icon {
  display: block;
}

.navbar .navbar-collapse {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-3);
}

.navbar-list {
  display: block !important;
  width: 100%;
}

.nav-item.active,
.nav-item:is(:hover, :focus, :focus-visible) {
  border-block-end: 2px solid var(--royal-blue);
}

.nav-link {
  color: var(--gondola-black);
  padding-block: 10px;
  padding-inline: 10px !important;
}

.nav-item.active .nav-link {
  color: var(--royal-blue) !important;
  font-weight: var(--fw-600) !important;
}

.nav-item:is(:hover, :focus, :focus-visible) .nav-link {
  color: var(--royal-blue);
}

.header-notice {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  background-color: var(--royal-blue);
  color: var(--white);
}

.header-notice .container,
.notice-content {
  display: flex;
}

.notice-title {
  background-color: var(--red);
  margin-bottom: 0;
  padding-inline: 10px;
}

.notice-title,
.notice-text {
  padding-block: 5px;
}

.notice-text > a {
  display: inline-block;
}

/*-----------------------------------*\
    #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: 142px;
  padding-block-end: calc(var(--section-padding) / 2);
  padding-top: 0;
}

.carousel {
  max-height: 600px;
  overflow: hidden;
}

.carousel-item::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.7;
}

.carousel-text {
  position: absolute;
  top: 15%;
  width: 100%;
  z-index: 2;
}

.carousel-text .section-title {
  color: var(--white);
  font-size: var(--fs-4);
  padding-inline: 20px;
}

.carousel-text .section-subtitle {
  color: var(--deep-blue-sky);
  font-size: var(--fs-7);
}

.carousel-text .section-title,
.carousel-text .section-subtitle {
  text-align: center;
  padding-inline: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 42%;
  background-color: var(--deep-blue-sky);
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: var(--transition-1);
}

.carousel-control-next {
  border-radius: 50% 0 0 50%;
}

.carousel-control-prev {
  border-radius: 0 50% 50% 0;
}

.alert {
  position: absolute;
  top: 110px;
  width: 100%;
  font-size: var(--fs-7);
  line-height: 1.1;
  background-color: var(--summer-sky-light);
  border: none;
  border-radius: 0;
  color: var(--gondola-black);
  z-index: 1;
}

.alert .container > strong {
  color: var(--red);
}

.alert .container > a {
  display: inline-block;
  text-decoration: underline;
  color: var(--space-cadet);
  margin-inline-start: 10px;
}

/*-----------------------------------*\
    #SERVICE
\*-----------------------------------*/

.service {
  padding-block: 0;
}

.service .section-title {
  margin-block-end: 50px;
}

.service-list {
  display: grid;
  gap: 15px;
}

.service-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-height: 100%;
  border: 1px solid var(--black_10);
  border-radius: var(--radius-4);
  padding: 30px;
}

.service-card .card-icon ion-icon {
  font-size: 50px;
  flex-shrink: 0;
  color: var(--white);
}

.service-card .card-title {
  margin-block-end: 8px;
}

.service-card .card-text {
  color: var(--gondola-black);
}

.service-list li:first-child .service-card {
  background-color: var(--summer-sky);
}

.service-list li:nth-child(2n) .service-card {
  background-color: var(--shamrock-green);
}

.service-list li:last-child .service-card {
  background-color: var(--summer-sky-light);
}

/*-----------------------------------*\
    #APPROVAL
\*-----------------------------------*/

.approval {
  padding-block-end: 0;
}

.approval-list {
  display: grid;
  gap: 15px;
}

.approval .section-title {
  margin-block-end: 50px;
}

.approval-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-image: var(--gradient-2);
  border: 1px solid var(--black_10);
  border-radius: var(--radius-4);
  padding: 30px;
  box-shadow: var(--shadow-3);
}

.approval-card .card-icon {
  margin-block-end: 20px;
  transition: var(--transition-2);
}

.approval-card:is(:hover, :focus-visible) .card-icon {
  transform: scale(1.1);
}

.approval-card .card-text {
  color: var(--gondola-black);
}

.approval-card .card-title .span {
  display: inline-block;
  color: var(--red);
}

/*-----------------------------------*\
    #AFFILIATION
\*-----------------------------------*/

.affiliation {
  padding-block-end: 0;
}

.affiliation .section-title {
  margin-block-end: 50px;
}

.affiliation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-image: var(--gradient-1);
  border: 1px solid var(--black_10);
  border-radius: var(--radius-4);
  padding: 30px;
  box-shadow: var(--shadow-3);
}

.affiliation-list {
  display: grid;
  gap: 15px;
}

.affiliation-card .card-icon {
  margin-block-end: 20px;
  transition: var(--transition-2);
}

.affiliation-card:is(:hover, :focus-visible) .card-icon {
  transform: scale(1.1);
}

/*-----------------------------------*\
    #ABOUT
\*-----------------------------------*/

.about {
  padding-block-end: 0;
}

.about-banner {
  margin-block-end: 50px;
}

.about .section-text {
  margin-block: 25px 15px;
}

.about .btn {
  font-size: unset;
  max-width: max-content;
  margin-block-start: 30px;
  padding-block: 15px;
}

/*-----------------------------------*\
    #ABOUT COUNTER
\*-----------------------------------*/

.about-counter {
  background-image: var(--gradient-2);
  margin-block-start: 50px;
}

.counter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 30px;
}

.counter-card .card-icon {
  margin-block-end: 20px;
  transition: var(--transition-2);
}

.counter-card .card-icon ion-icon {
  font-size: 50px;
  color: var(--white);
}

.counter-card .card-subtitle {
  color: var(--gondola-black);
  font-size: var(--fs-5);
}

/*-----------------------------------*\
    #FACULTY
\*-----------------------------------*/

.faculty .section-title {
  margin-block-end: 50px;
}

.faculty-card .card-banner {
  border-radius: var(--radius-4);
  overflow: hidden;
  margin-block-end: 25px;
}

.faculty-card {
  padding: 30px;
  border: 1px solid var(--gainsboro_50);
  border-radius: var(--radius-4);
  text-align: center;
  min-height: 100%;
}

.faculty-card .card-title {
  font-size: var(--fs-4);
  transition: var(--transition-1);
}

.faculty-card:is(:hover, :focus-within) .card-title {
  color: var(--royal-blue);
}

.faculty-card .card-subtitle {
  color: var(--summer-sky-light);
  margin-block: 10px 15px;
}

.faculty-card .card-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.faculty-card .card-social-link {
  background-color: var(--gainsboro_50);
  color: var(--royal-blue);
  font-size: 16px;
  padding: 12px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.faculty-card .card-social-link:is(:hover, :focus) {
  background-color: var(--summer-sky-light);
  color: var(--white);
}

.has-scrollbar {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  margin-inline: 15px;
  padding-block-end: 40px;
  margin-block-end: -20px;
  scroll-snap-type: inline mandatory;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background-color: var(--gainsboro_50);
  border-radius: var(--radius-4);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--summer-sky-light);
  border-radius: var(--radius-4);
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 30px);
}

/*-----------------------------------*\
    #ADMISSION
\*-----------------------------------*/

.admission {
  background-color: var(--summer-sky-light);
}

.admission-banner {
  margin-block-end: 50px;
}

.admission .section-subtitle {
  text-transform: capitalize;
}

.admission .section-title {
  font-size: var(--fs-3);
  margin-block-end: 30px;
}

.admission .btn {
  max-width: max-content;
  font-weight: var(--fw-600);
  border: 4px solid var(--white);
  background-image: var(--gradient-2);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}

.admission .btn.active {
  position: fixed;
  bottom: 20px;
  color: var(--white);
  animation: jumpIn 0.5s var(--transition-1) forwards infinite alternate;
}

@keyframes jumpIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.admission .btn-primary,
.admission .btn-secondary {
  background-image: none;
  border: none;
  padding-block: 5px;
  padding-inline: 10px;
  text-transform: capitalize;
}

.admission .btn-secondary {
  background-color: var(--red);
}

.admission .btn-primary {
  background-color: var(--jet);
}

/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/

.footer-top {
  background-color: var(--gondola-black);
  color: var(--gainsboro_50);
}

.footer-top .container {
  display: grid;
  gap: 30px;
}

.footer-text {
  list-style: 1.6;
  margin-block: 15px;
}

.footer-list-title {
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  margin-block-end: 10px;
}

.footer-brand .logo {
  margin-block-end: 20px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-block: 10px;
  transition: var(--transition-1);
}

.footer-link ion-icon {
  color: var(--summer-sky);
  --ionicon-stroke-width: 50px;
}

.footer-link:is(:hover, :focus) {
  color: var(--white);
}

.footer-item .item-icon {
  background-image: var(--gradient-1);
  color: var(--white);
  font-size: 18px;
  padding: 11px;
  border-radius: var(--radius-circle);
}

.footer-item,
.date,
.time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-item:not(:first-child) {
  margin-block-start: 20px;
}

.footer-bottom {
  background-color: var(--nero-black);
  padding-block: 50px;
  text-align: center;
}

.copyright {
  color: var(--white);
  line-height: 1.6;
  margin-block-end: 25px;
}

.copyright > a {
  display: inline-block;
  color: var(--red);
}

.footer .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer .social-link {
  padding: 11px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: var(--white);
  font-size: 18px;
  border-radius: var(--radius-circle);
}

.footer .social-link:is(:hover, :focus) {
  background-image: var(--gradient-1);
}

/*-----------------------------------*\
    #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--royal-blue);
  font-size: 18px;
  color: var(--white);
  padding: 14px;
  border-radius: var(--radius-circle);
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transition: var(--transition-1);
}

.back-top-btn.active {
  transform: translate(-10px);
  visibility: visible;
  opacity: 1;
}

/*-----------------------------------*\
    #ADMISSION BTN
\*-----------------------------------*/

.admission-btn {
  position: fixed;
  bottom: 10px;
  right: 0.3vw !important;
  background-image: var(--gradient-2);
  border: 3px solid var(--white);
  font-size: 18px;
  color: var(--white);
  padding: 10px;
  border-radius: var(--radius-6);
  z-index: 5;
  transition: var(--transition-1);
}


/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/

/**
  * responsive for large than 575px screen
  */

@media (min-width: 575px) {
  /**
    * HERO
    */

  .carousel-text {
    top: 25%;
  }

  .carousel-text .section-title {
    font-size: 1rem;
  }

  .carousel-text .section-subtitle {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 45%;
    width: 50px;
    height: 50px;
  }

  /**
    * FOOTER
    */

  .footer-top .container {
    grid-template-columns: 1fr 1fr;
  }
}

/**
  * responsive for large than 768px screen
  */

@media (min-width: 768px) {
  /**
    * CUSTOM PROPERTY
    */

  :root {
    /**
      * typography
      */

    --fs-2: 4.8rem;
  }

  /**
    * ABOUT COUNTER
    */

  .counter-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /**
    * FACULTY
    */

  .scrollbar-item {
    min-width: calc(50% - 15px);
  }

  /**
    * ADMISSION
    */

  .admission {
    padding-block: 0;
  }

  .admission .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 60px;
  }

  .admission-banner {
    margin-block: auto;
  }

  .admission-content {
    padding-block: 60px;
  }

  /**
    * FOOTER
    */

  .footer-bottom {
    padding-block: 30px;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-block: 0;
  }

  /**
    * BACK TO TOP
    */

  .back-top-btn {
    bottom: 80px;
    right: 50px;
  }
}

/**
  * responsive for large than 992px screen
  */

@media (min-width: 992px) {
  /**
    * CUSTOM PROPERTY
    */

  :root {
    /**
        * typography
        */

    --fs-2: 6rem;
    --fs-1: 4.6rem;
    --fs-3: 4.6rem;
  }

  /**
    * REUSED
    */

  .dropdown:is(:hover) .dropdown-menu {
    display: block;
    box-shadow: var(--shadow-3);
  }

  /**
    * HEADER
    */

  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background-color: var(--royal-blue);
    color: var(--white);
    padding-block: 10px;
    z-index: 5;
  }

  .contact-list,
  .social-list {
    padding: 0;
    margin: 0;
  }

  .header-top :is(.container, .social-list),
  .contact-list,
  .contact-item {
    display: flex;
    align-items: center;
  }

  .header-top .container {
    justify-content: space-between;
  }

  .contact-list {
    gap: 20px;
  }

  .contact-item {
    gap: 5px;
  }

  .contact-item ion-icon {
    font-size: var(--fs-6);
  }

  .contact-list :is(:last-child) :is(:last-child) {
    border-inline-start: 1.5px solid var(--white);
    padding-inline-start: 10px;
    margin-inline-start: 10px;
  }

  .header-top .social-list {
    gap: 15px;
  }

  .header-top .social-link {
    font-size: var(--fs-6);
    transition: var(--transition-1);
  }

  .header-top .social-link:is(:hover, :focus, :focus-visible) {
    color: var(--space-cadet);
  }

  .header-bottom {
    padding-block-start: 40px;
  }

  .header-bottom.active {
    top: -92px;
    padding: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar .navbar-collapse {
    position: initial;
    box-shadow: none;
  }

  .navbar .btn {
    display: block;
  }

  .header-notice {
    top: 140px;

  }

  .notice-title {
    padding-inline: 30px;
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
  }

  .notice-text {
    font-size: var(--fs-6);
    padding-block-start: 6px;
  }

  /**
    * HERO
    */

  .hero {
    padding-block-start: 180px;
  }

  .carousel-text {
    top: 20%;
  }

  .carousel-text .section-title {
    font-size: 7rem;
    letter-spacing: -0.5px;
    text-shadow: var(--shadow-3);
  }

  .carousel-text .section-subtitle {
    font-size: var(--fs-1);
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 45%;
    width: 70px;
    height: 70px;
  }

  /**
    * SERVICE
    */

  .service-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
    * AFFILIATION
    */

  .affiliation-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
    * ABOUT
    */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner {
    margin-block-end: 0;
    overflow: hidden;
  }

  .about-banner > img {
    width: 200% !important;
  }

  /**
    * FACULTY
    */

  .scrollbar-item {
    min-width: calc(33.33% - 20px);
  }

  /**
    * ADMISSION
    */

  .admission-content {
    padding-block: 80px;
  }

  /**
    * FOOTER
    */

  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.6fr;
  }
}

/**
  * responsive for large than 1200px screen
  */

@media (min-width: 1200px) {
  /**
    * CUSTOM PROPERTY
    */

  :root {
    /**
        * typography
        */

    --fs-2: 8rem;
    --fs-1: 4.6rem;
    --fs-3: 4.6rem;
  }

  /**
    * HEADER
    */

  .contact-list {
    gap: 30px;
  }

  .header-bottom .container {
    gap: 40px;
  }

  .navbar-list {
    gap: 15px;
  }

  /**
    * HERO
    */

  .alert {
    top: 180px;
  }

  /**
    * ABOUT
    */

  .about .container {
    grid-template-columns: 0.85fr 1fr;
    gap: 100px;
  }

  .about-banner > img {
    width: 150% !important;
  }

  /**
    * FACULTY
    */

  .faculty {
    padding-block-end: 180px;
  }

  .scrollbar-item {
    min-width: calc(25% - 22.5px);
  }

  .has-scrollbar {
    padding-block-end: 0;
    margin-block-end: 0;
  }

  /**
    * ADMISSION
    */

  .admission .container {
    align-items: center;
  }

  /**
    * FOOTER
    */

  .footer-top .container {
    grid-template-columns: 0.6fr 0.5fr 0.6fr 0.75fr;
  }

  /**
    * ADMISSION BTN
    */

  .admission-btn {
    left: auto;
    bottom: auto;
    right: 50px;
    top: 65px;
  }
}

.highlight-wrapper {
  margin-top: 30px;
}

.section.hero {
  padding-top: 34px;
}

/* ================= Scroll Reveal Animation ================= */

/* ===== SERVICES ANIMATION ===== */

.service-title-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.service-title-reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.service-reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.service-reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Hover effect */
.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

/* ===== APPROVAL SPLIT LAYOUT ===== */

.approval {
  margin-top: 150px;
}

.section-subtitle {
  font-size: 50px;
}

.section-title{
  font-size: 30px;
}

.approval-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.approval-left,
.approval-right {
  flex: 1;
}

/* Scroll Animation */
.approval-left,
.approval-right {
  opacity: 0;
  transition: all 0.9s ease;
}

/* Left slide */
.approval-left {
  transform: translateX(-80px);
}

/* Right fade + slight slide */
.approval-right {
  transform: translateX(80px);
}

/* Active state */
.approval-left.active,
.approval-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Responsive */
@media (max-width: 768px) {
  .approval-flex {
    flex-direction: column;
    text-align: center;
  }
}

/* ===== FULL SCREEN PAGE LOADER ===== */

#page-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.loader-content {
  text-align: center;
}

.loader-logo {
  width: 150px;
  animation: logoZoom 2s ease-in-out infinite alternate;
}

/* Zoom animation */
@keyframes logoZoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* Hide loader */
#page-loader.hide {
  opacity: 0;
  visibility: hidden;
}


/* ===== AFFILIATION SCROLL EFFECT ===== */

/* Title fade */
.affiliation-title {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.affiliation-title.active {
  opacity: 1;
  transform: translateY(0);
}

/* Cards slide left to right */
.affiliation-reveal {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.8s ease;
}

.affiliation-reveal.active {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ABOUT SECTION SCROLL EFFECT ===== */

.about-left-reveal,
.about-right-reveal {
  opacity: 0;
  transition: all 0.9s ease;
}

/* Image from left */
.about-left-reveal {
  transform: translateX(-100px);
}

/* Text from right */
.about-right-reveal {
  transform: translateX(100px);
}

/* When visible */
.about-left-reveal.active,
.about-right-reveal.active {
  opacity: 1;
  transform: translateX(0);
}